<h1>About Study Log</h1>

<p>"Progress is not achieved by luck or accident, but by working on yourself daily."~Epictetus</p>


<p>“Don't judge each day by the harvest you reap but by the seeds that you plant.” ~Robert Louis Stevenson</p>  

