
<h1>Log Your Study</h1>
<hr>
<% if @study.errors.any? %>
<h3>The following errors prevented the study to be logged:</h3>
<ol>
<% @study.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ol>
<% end %>
</br><%= render 'form' %>


