<h1>Showing selected study</h1>

<p>Programming Language: <%= @study.programming_language %>
</p>

<p>Topic: <%= @study.topic %>
</p>

<p>Source: <%= @study.topic %>
</p>

<p>Description: <%= @study.description %>
</p>