@import 'bootstrap/dist/css/bootstrap';

#logo {
    float: left;
    font-size: 1.7em;
    color: rgb(109, 3, 3);
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: rgb(196, 127, 127);
    text-decoration: none;    
}