<nav>
    <a href=""><%= link_to 'Home', root_path%></a>
    <a href="about">About Me</a>
    <a href="studies/new">Log a New Study</a>
    <a href=""><%= link_to 'All Studies', studies_path%></a>
    <a href="progress">Progress</a>
    <a href="contact"><i class="far fa-address-book"></i>  Contact</a>
</nav>
   